#smart-navbar {
  display: none;
  background: #ffffff;
  width: 100%;
/*  margin-right: 0px;*/
  left: 0px;
  top:0px;
  position: fixed;
  z-index: 9999;
  text-align:center;
  padding:5px 0px 5px 0px;
  border-bottom: 1px solid silver;
  box-shadow: 0px 2px 8px #CCCCCC;
  vertical-align: middle;
}
#smart-navbar-center,#smart-navbar-left,#smart-navbar-right {
  display:inline-block;
}
#smart-navbar-left {
  float:left;
  padding-left:1em;
}
#smart-navbar-right {
  float:right;
  padding-right:1em;
}
.fa { color: gray; padding-right:0.5em; cursor:pointer;}
.fa:hover { color: orange; }
.fa-heart, .fa-bookmark, .fa-share-square { color: orange; }

/* Text Block with Dynamic Display */
#smart-navbar #smart-navbar-center H3 {
  font-size: 1.0em;
  font-weight: lighter;
  display:inline-block;
}
#smart-navbar #smart-navbar-center H3 .title {
  font-weight: normal;
  padding: 0;
}
#smart-navbar #smart-navbar-center H3 .author {
  padding: 0;
}
#smart-navbar #smart-navbar-center H3 .author:before {
  content: '~ by ';
}
#smart-navbar #smart-navbar-center H3 .categories {
  padding: 0;
}
#smart-navbar #smart-navbar-center H3 .categories:before {
  content: ' posted in ';
}
#smart-navbar #smart-navbar-center H3 .categories:after {
  content: '';
}


/* HeyPublisher consistent styles */
a.heypublisher-button {
  text-decoration:none;
  display: block;
  /* border: 1px solid red; */
}
a.heypublisher-button span.dashicons {
  padding-right: 5px;
}
a.heypublisher-button span.dashicons:hover {
  color: orange;
}
